body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #333; /* Couleur de fond noire */
}

header {
    background-color: #4B2C20; /* Marron */
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #fff;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background-color: #26734D; /* Vert */
    padding: 50px;
    text-align: center;
}

.hero h2 {
    margin: 0;
    color: #fff;
}

.hero p {
    color: #fff;
}

.hero button {
    background-color: #fff;
    color: #26734D;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.content {
    background-color: #fff; /* Blanc */
    color: #333; /* Texte noir par défaut */
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #4B2C20; /* Marron */
    padding: 10px;
    text-align: center;
    color: #fff;
}
